[2015-05-30 18:52] sfitts opened #5 "Nested Objects and Arrays materialized in their Java form"
Found via the Mongo DB client.

The fix that was intended to address this has been reverted so I'm recreating this in the correct project.

The language bindings are intended to present JSON documents in their "native" form to each language. In the Groovy binding (and perhaps others) this is working for the root object, but not for any nested objects and/or arrays. These are instead presented as J

[2015-06-05 21:29] sfitts opened #6 "EB: Sending an array of an object with a custom codec fails"
If I create a custom message codec for a given class I can send instances of that class across the event bus as expected.  However, when I try to send arrays of the objects the array first gets wrapped into a JsonArray and then it's codec is used to perform the serialization.  That would be OK if that implementation looked for custom codec's during transform, but instead it simply calls `copy` on

[2015-06-05 21:45] sfitts opened #7 "Groovy object unwrapping causes problems for types with custom codecs when those types implement map."
I've created a custom message codec for `org.bson.Document` and registered it as a global codec.  However, when I attempt to send an instance of `Document` over the event bus is mysteriously gets treated like a `JsonObject` instead.  It turns out that the culprit here is `InternalHelper.unwrapObject`.  This method is called in the Groovy adaptation of the event bus and since `Document` implements

[2015-06-06 15:46] sfitts commented on #7
I took a look at what it would take to fix this and unfortunately without changing what's visible from the EventBus delegate the best I could come up with was this:

[code]

Of course that's ugly.  What would be nicer would be to have a method on EventBus along the lines of `hasMessageCodec(Object message)` which would tell you if the message object can be sent as is or not.  Then you could select

[2015-06-18 15:04] purplefox commented on #7
@sfitts  Sean can you close this if it's now fixed? Thanks

[2015-06-18 15:05] purplefox commented on #5
@sfitts could you also close this one too if fixed?

[2015-06-18 18:24] purplefox commented on #5
I'm going to close this on the assumption it's done. Please re-open if that's not the case.

[2015-06-18 18:24] #5 closed

[2015-06-18 18:25] sfitts commented on #5
I'm planning to verify this on the current snapshot this evening.  I'll let
you know if I find any issues.

On Thu, Jun 18, 2015 at 11:24 AM, Tim Fox <notifications@github.com> wrote:

[2015-06-18 18:44] #7 closed

[2015-06-24 09:00] cescoffier opened #13 "Broken links in the generated documentation"
The generated groovy doc has some misspelled urls containing `.` instead of `\`.

[2015-07-02 14:46] cescoffier commented on #13
So the issue is 'expected' as the targeted file is a Java class (not Groovy), so the link does not work.

I've tried to add extra javadoc directory to the groovydoc plugin, but unfortunately it requires to know the packages (prefix). So we cannot use this.

Another solution is to 'hide' the link using:

[code]

(changes: make the `delegate` property private, and use Object in the constructor (cast

[2015-07-03 09:56] vietj commented on #13
I think we can hide the types, since they are not supposed to be used externally anyway and that would solve the problem.

[2015-07-03 13:02] cescoffier commented on #13
ok, will provide this as a PR.

[2015-07-03 16:38] #13 closed

[2015-07-04 11:30] vietj opened #16 "Make comment private (i.e not in generated code) and point to Apache JIRA"
https://github.com/vert-x3/vertx-lang-groovy/blob/master/src/main/resources/vertx-groovy/template/groovy.templ#L33

[2015-09-03 07:58] vietj opened #19 "Wrong cached type generation for List of api objects"

[2015-09-03 07:59] #19 closed

[2015-09-10 16:51] cinterloper opened #20 "File Handle leak?"
readFile seems to be creating, and not getting rid of, event loops.

java    12073 grant 4802w     FIFO               0,10      0t0  855722 pipe
java    12073 grant 4803u  a_inode               0,11        0    7132 [eventpoll]
java    12073 grant 4804r     FIFO               0,10      0t0  855723 pipe
java    12073 grant 4805w     FIFO               0,10      0t0  855723 pipe
java    12073 grant

[2015-09-15 17:47] cinterloper commented on #20
Fixed by tip from Tim, see google group thread.

[2015-09-15 17:47] #20 closed

[2015-10-02 08:33] vietj opened #21 "Add test for @Grab"
to check it works, that's a good groovy feature

[2015-10-07 17:03] cescoffier opened #22 "Groovydoc empty on stack"
For a strange reason (the topic of this issue), the generated groovydoc is empty when built from stack.

[2015-10-15 09:10] #22 closed

[2015-10-19 13:18] vietj opened #23 "Rewrite templates"
that's currently messy (the first I wrote) and it could be more compact (i.e the handler/asyncresult should use the return type conversion).

[2015-10-21 19:58] vietj opened #24 "Implement nullable types"

[2015-12-21 22:15] leosilvadev opened #25 "EventBus send method always unwrap the message"
I got a problem here because I am using a non-default MessageCodec that works only with Maps, but currently I had to use this sending message through eventBus.delegate, because at send method it uses InternalHelper.unwrapObject to unwrap my maps and transform to JsonObject.

Would not be a good thing if we could decide if we have to unwrap or not our messages?

Thanks in advance

[2016-01-12 13:08] pmlopes opened #26 "verify: codegen seems to generate bad code"
see: https://github.com/vert-x3/issues/issues/77

[2016-01-13 15:42] vietj commented on #26
not a shim problem

[2016-01-13 15:42] #26 closed

[2016-02-02 22:55] thokari opened #28 "How to use Groovy Future?"
The Exception:
[code]

The relevant code:

`cb(io.vertx.groovy.core.Future.failedFuture('Credentials do not match'))`

This however works:

[code]

It works when dealing with an io.vertx.core.Future, but not io.vertx.groovy.core.Future.

[2016-02-02 22:59] thokari commented on #28
It turns out I can actually just import / use io.vertx.core.Future. So it really is not a problem, I am just confused...

[2016-02-02 23:00] vietj commented on #28
actually you are right , it should be here and it's not because it is inherited from AsyncResult, it should be there in 3.2.1 I think.

[2016-02-02 23:06] thokari commented on #28
Awesome!

[2016-02-02 23:06] #28 closed

[2016-02-02 23:14] vietj commented on #28
https://github.com/vert-x3/issues/issues/89

[2016-02-19 15:22] cescoffier opened #29 "update dependencies"
* Update parent pom
* Update dependencies to latest
* Update plugins to latest

[2016-02-19 15:22] #29 closed

[2016-03-08 14:18] adpande opened #30 "JsonSlupper to JsonObject not working"
Hi,

I am converting JsonSlurper to vertx JsonObject it is not working for complex json.

def slurper = new JsonSlurper()
def result = slurper.parseText('some complex json')
// result is a map instance.
JsonObject json = new JsonObject(result)

When i try to send this json object over eventbus. it gives error.
#

java.lang.IllegalStateException: Illegal type in JsonObject: class java.math.BigDecim

[2016-04-10 01:20] #25 closed

[2016-05-04 14:40] pmlopes commented on #16
not applicable anymore

[2016-05-04 14:40] #16 closed

[2016-05-18 07:10] aruis opened #33 "vertx run xxxx.groovy,chinease chars will be garbled,but java file is OK"
`myverticle.groovy`

void vertxStart() {
    println("\u4f60\u597d")
    println "你好 starting"
}

void vertxStop() {
    println "stopping"
}

`$ vertx run myverticle.groovy`

你好

������ starting

Succeeded in deploying verticle

[2016-05-18 08:08] vietj commented on #33
can you print the default JVM locale ?

[2016-05-19 05:14] aruis commented on #33
`System.out.println(Locale.getDefault());`
`zh_CN`

[2016-05-23 14:09] pmlopes commented on #30
Cannot reproduce, for example:
[code]

Does not show your problem, please add a reproducer otherwise we cannot do anything with it.

[2016-05-30 06:11] aruis commented on #33
I think I got the reason. The groovy default [CompilerConfiguration](https://github.com/apache/groovy/blob/master/src/main/org/codehaus/groovy/control/CompilerConfiguration.java) is use `US-ASCII` encoding.
So,I must use a special config set the `groovy.source.encoding` to `UTF-8` like this https://github.com/vert-x3/vertx-lang-groovy/blob/master/src/test/resources/configs/compilerConfiguration.gr

[2016-05-30 09:58] vietj commented on #33
can you provide a PR for this that works for you ?

[2016-05-31 02:54] aruis commented on #33
I think the key point for this issue is in groovy language source file. And we can use a config file in vertx to solve it .
So,I think we can close this issue without change any code.
Thanks very much.@vietj.  My English is very poor tolerance.

[2016-05-31 06:11] vietj commented on #33
@aruis but vertx-lang-groovy uses implicetely a groovy compiler in the GroovyClassLoader, no ?

[2016-05-31 07:59] aruis commented on #33
yes.  I do a PR to fix it in an other way.
thx ; )

[2016-06-07 09:12] #33 closed

[2016-06-09 15:37] leosilvadev commented on #30
JsonSlurper does not offer support for BigDecimal, you should use toString() on it or use a Codec that supports it.
Currently I am using a codec and sending my events through the delegate (because groovy eventBus wraps your Map and transform it to a JsonObject/Array), so my codec is registered over the Groovy Map.
I don't know if it is the best solution but is what we're doing for now.

[2016-06-15 12:56] thomashan opened #35 "What is groovy Vertx not implementing Java Vertx interface?"
Hi there.
I was wondering if there was a reason for the groovy Vertx not implementing the Java Vertx interface?

IMHO, one of the key strengths of groovy is the interchangeability of classes and interfaces. By completely isolating the classes and interfaces we've sandbox everything into Java world and groovy world.

[2016-06-15 13:00] vietj commented on #35
hi, we want to investigate using Java interfaces directly in Groovy, I believe there is a thread on vertx-dev google group about that - so it would be best if you discuss this on the vertx-dev forum.

We want to use GitHub issues for bugs instead of not asking questions.

[2016-06-15 13:00] #35 closed

[2016-06-15 13:37] thomashan commented on #35
Thanks

[2016-06-15 14:52] vietj commented on #35
looking forward to read from you on the list :)

[2016-08-18 10:25] vietj opened #36 "Cached primitive always return the default primitive value and don't call the delegate"

[2016-08-18 10:26] #36 closed

[2016-08-22 13:32] vietj opened #37 "Upgrade Groovy to 2.4.7"

[2016-08-22 13:38] #37 closed

[2016-09-22 10:53] InfoSec812 opened #39 "io.vertx.lang.groovy.GroovyVerticle's `start(Future)` has incorrect signature"
In 3.3.3, the method signature for `start(Future)` in io.vertx.lang.groovy.GroovyVerticle only accepts `io.vertx.core.Future` instead of `io.vertx.groovy.core.Future`. This was causing me great pains for a while until I tracked it down.. It is easy to work around by using the implementation of Future from core, but I believe it should be fixed.

This is similar to #28

[2016-09-22 12:30] vietj commented on #39
how about overloading it ?

[2016-09-22 13:20] InfoSec812 commented on #39
Overloading it would work just fine for me... I am just trying to ensure that others don't run into this situation in the future.

[2016-11-09 12:24] #30 closed

[2016-11-14 08:08] pmlopes commented on #39
This this issue still apply with the new groovy lang generation?

[2016-11-14 08:21] vietj commented on #39
@InfoSec812 right as said @pmlopes , we have actually redone the Groovy support in 3.4.0-SNAPSHOT to use the Java real API in Groovy and generating the Map method as extension, so this concern should not be valid anymore.

Would you mind to check your code with 3.4.0-SNAPSHOT ? there should be an transparent migration path though.

[2016-12-20 16:47] vietj opened #41 "Document migration to io.vertx.* pkg"
- delegate disappears

[2016-12-21 14:57] vietj commented on #41
Document fatjars:

- `mergeGroovyExtensionModules()` for Gradle Shadowjar.
- similar for Maven Shade plugin (contributed but not yet released)

[2017-01-15 02:18] InfoSec812 opened #42 "ConversionHelper.toJsonObject throws NPE when a map value is null"

[2017-01-15 11:19] #42 closed

[2017-01-15 17:54] InfoSec812 opened #44 "ConversionHelper.fromJsonObject throws NullPointerException when a key has a null value"
[code]

I noticed this when I try to get the response body from a Message reply in the form of:

[code]

Hopefully the fix will be just as easy as #42.

Thanks,

Deven

[2017-01-16 08:14] #44 closed

[2017-02-15 23:34] #39 closed

[2017-03-10 21:23] vietj opened #46 "Vertx Groovy compiler transformation throws NPE when using a closure with no parameters"
motivation: currently the expression

[code]

Throws an NPE in the Vertx Groovy compiler transformation.

changes: fix the bug

workaround: write a closure with no arrow

[code]

[2017-03-10 21:23] #46 closed

[2017-03-14 17:09] vietj commented on #41
done

[2017-03-14 17:09] #41 closed

[2017-03-14 17:09] vietj opened #47 "Avoid to generate ConversionHelper class as it can create duplicate classes"

[2017-03-14 17:41] #47 closed

[2017-04-13 18:27] pmlopes opened #48 "Groovy extension is activated even though vertx-lang-groovy is not in the classpath"
@cazacugmihai commented on [Tue Apr 11 2017](https://github.com/vert-x3/vertx-sql-common/issues/44)

### Version

* vert.x core: `3.4.1`, `3.4.2-SNAPSHOT`
* vert.x sql common: `3.4.1`, `3.4.2-SNAPSHOT`
* groovy: ` 2.4.10`, `2.5.0-SNAPSHOT`

### Context

I've got this exception:
[code]
and, because the `groovy-all` jar is present in the classpath, the groovy extension is loaded.

Is it possible to

[2017-04-13 19:25] vietj commented on #48
both are not related, the groovy extension does not depend on vertx-lang-groovy . what the user reported is a bug of the groovy compiler.

[2017-04-13 22:02] vietj commented on #48
we can investigate but it seems to be a compiler error

[2017-04-14 06:53] cazacugmihai commented on #48
I have created a [bug](https://issues.apache.org/jira/browse/GROOVY-8158) in the groovy's list. If you consider that it is not a vertx's issue, please close this one.

Thanks!

[2017-04-14 08:00] vietj commented on #48
@cazacugmihai can you provide a reproducer ?

[2017-04-14 08:00] vietj commented on #48
so we can look on our side to find out if that's really a groovy bug or not

[2017-04-14 08:00] vietj commented on #23
it has actually been done

[2017-04-14 08:00] #23 closed

[2017-04-14 08:01] cazacugmihai commented on #48
@vietj I have already provided [one](https://github.com/vert-x3/vertx-sql-common/issues/44#issuecomment-293535648).

[2017-04-14 08:17] vietj commented on #48
can you provide it with a build as a project please ?

[2017-04-14 08:25] cazacugmihai commented on #48
You can save that code in a file `test.groovy` and then run it with: `groovy test.groovy`.

[2017-04-14 15:35] blackdrag commented on #48
Hi guys, coming over from https://issues.apache.org/jira/browse/GROOVY-8158

when looking at the available information I gather, that a Groovy extension method is wrongly active. According to https://github.com/vert-x3/vertx-sql-common/issues/44 this is supposed to be called:
`SQLConnection.batchWithParams(String sqlStatement, List<JsonArray> args, Handler<AsyncResult<List<Integer>>> handler)`
And

[2017-04-14 17:05] vietj commented on #48
I see @blackdrag thanks for the info.

[2017-04-14 17:06] vietj commented on #48
so we should consider a way to deactivate the extensions when vertx-lang-groovy is not present at compile time I think

[2017-04-14 17:25] vietj commented on #48
which can be done using a custom extension factory that tests the presence of vertx-lang-groovy jar

[2017-04-14 18:36] cazacugmihai commented on #48
Nice to see that the root of the problem was found! I'm waiting to test the fix! :)

[2017-04-14 21:33] cazacugmihai commented on #48
If you can give me some hints about the steps to follow in order to fix this issue, I could do it by myself and create a PR.

[2017-04-15 09:39] vietj commented on #48
in the generated extension descriptor we can add a `moduleFactory` entry.

Such module factory would be a generated class in the project extending `PropertiesModuleFactory`. It would implement the `newModule` method to call `MetaInfExtensionModule.newModule(properties, classLoader)` if _vertx-lang-groovy _ is found in the classloader otherwise it would return an empty module.

[2017-04-15 11:36] cazacugmihai commented on #48
How can I create an empty module?

[2017-04-15 12:07] vietj commented on #48
a subclass of `ExtensionModule` that returns an empty list for `getMetaMethods`

[2017-04-15 12:23] cazacugmihai commented on #48
Is it ok [now](https://github.com/cazacugmihai/vertx-lang-groovy/commit/7541a61ecbe2729202f45347228e21a709d57d82)? How can I test it?

[2017-04-19 22:03] sfitts commented on #48
FYI -- this issue completely breaks our application and is preventing us from updating from Vert.x 3.3.3.  I've tested the proposed fix and it solves our problem nicely.

[2017-04-27 11:32] #48 closed

[2017-04-27 14:20] cazacugmihai commented on #48
@blackdrag: can you take a look over [this](https://github.com/vert-x3/vertx-lang-groovy/pull/49#issuecomment-297721787) issue, please?

[2017-05-03 06:52] pmlopes opened #50 "Can't run embeded Vert.x under JDK9"
@twasyl commented on [Thu Mar 23 2017](https://github.com/vert-x3/vertx-web/issues/567)

### Version

* vert.x core: 3.4.1
* vert.x web: 3.4.1

### Context

Hello,

I'm currently trying to migrate [SlideshowFX](https://github.com/twasyl/SlideshowFX/tree/feature_23) to JDK9 (build 161 with Jigsaw).
The application embeds Vert.x in order to provide a WebServer. Until now I have been using Vert.x 3.3

[2017-06-18 19:17] frangarcia opened #51 "Exception running project with 3.4.2"
Opened here from https://github.com/eclipse/vert.x/issues/2022

I was just running a vertx project we have with the new 3.4.2 version and I got this exception:
[code]

Is there any breaking change in the new version?

[2017-06-19 08:52] frangarcia commented on #51
Found this issue in the groovy project: https://issues.apache.org/jira/browse/GROOVY-8173

[2017-06-19 10:01] vietj commented on #51
good to know thanks

[2017-06-19 11:17] frangarcia opened #52 "Issue with JsonObject when converting to Map"
Does the next piece code represent an issue for you?

[code]

[2017-06-19 11:59] vietj commented on #52
what's the problem here ?

[2017-06-19 12:03] frangarcia commented on #52
An exception is thrown when doing

[code]

but it does not happen when the json object is empty. Is that the expected behaviour?

[2017-06-19 12:16] vietj commented on #52
JsonObject does not implement Map, so I guess that uses some kind of casting in Groovy ? what is the exception ?

[2017-06-19 12:19] frangarcia commented on #52
groovy.lang.MissingMethodException: No signature of method: io.vertx.core.json.JsonObject.entrySet() is applicable for argument types: () values: []
Possible solutions: toSet(), intersect(java.lang.Iterable), encode(), every()
	at org.codehaus.groovy.runtime.ScriptBytecodeAdapter.unwrap(ScriptBytecodeAdapter.java:58)
	at org.codehaus.groovy.runtime.callsite.PogoMetaMethodSite$PogoCachedMethodSite.

[2017-06-19 12:31] vietj commented on #52
I think it is because JsonObject is not a Map, to work correctly, there should be a Groovy extension that converts a JsonObject as a Map

[2017-06-19 12:37] frangarcia commented on #52
But how come it does not throw this exception for the variables jo1 or jo2? Both are also JsonObject variables. I don't get it.

[2017-06-19 12:46] vietj commented on #52
I think it's because the map you get via dynamic programming is able to make the operation using reflection but when you print it (toString()), the actual toString() implementation looks for all the entries of the map and this method does not exists

[2017-06-19 12:56] vietj commented on #52
I think you could contribute a Groovy extension for JsonObject so as Map is handled correctly

[2017-06-19 13:01] frangarcia commented on #52
Sure! Can you send me any link/doc about how to develop a groovy extension?

By the way, everything started because I am having some issues with JsonObject and Map in a vertx 3.4.1 I am writing and I saw this in the documentation (http://vertx.io/docs/vertx-core/groovy/):

What does that really mean? Where a JsonObject is going to be returned and when a Map? That is a bit annoying to me.

[2017-06-19 13:09] vietj commented on #52
I think that having a Groovy extension method (http://mrhaki.blogspot.fr/2013/01/groovy-goodness-adding-extra-methods.html)

[code]

shall do the trick

[2017-06-19 14:21] frangarcia commented on #52
What about the other question? It is really weird that depending on how I start the project (gradle run or shadowJar)

`vertx.getOrCreateContext()?.config()`

is a Map (when starting up with gradle run) and a JsonObject (when starting up with the fat jar generated by shadowJar).

[2017-07-21 03:31] abcfy2 commented on #51
I have the same issue when build with gradle，here is my build.gradle:
[code]

And here is my gradle.properties:
[code]

[2017-07-21 03:53] abcfy2 commented on #51
Reproduce steps:
1. clone source code: `git clone --depth 1 https://github.com/dteam-top/dgate`
2. `cd dgate && gradle test`(Must install gradle before), test will be pass.
3. Upgrade to vertx 3.4.2:
    1. Modify `gradle.properties` set `VERTX_VER = 3.4.2`
    2. Change `io.vertx.ext.auth.jwt.JWT` to `io.vertx.ext.jwt.JWT` according break changes. `sed -i 's/io.vertx.ext.auth.jwt.JWT/io.vertx.ext

[2017-08-11 22:26] jorgeuriarte commented on #52
Hi there @frangarcia; Did you get anywhere with this quest of yours? :)
We're suffering the same problem (JsonObject vs Map depending on launch mode) and it's becoming a hell of a problem... :(

[2017-08-12 07:46] jorgeuriarte commented on #52
yup... .`mergeGroovyExtensionModules()` in the `shadowJar` configuration will make sure the groovy extensions are correctly included. I've been chasing a ghost, I think :)

[2017-08-12 10:13] frangarcia commented on #52
Not really, but just in case it helps, we found this issue in a multi module project and the only solution we found was to put the dependency compile "io.vertx:vertx-lang-groovy:3.4.1" at the top.  Sorry not being more helpful.

[2017-10-09 03:35] jojopad commented on #51
I encountered the compilation issue also with a Groovy project that uses Vertx. After removing the @CompileStatic usage on some Groovy classes, the compilation issue was gone.

[2017-10-10 21:27] #52 closed

[2017-10-10 21:37] vietj opened #53 "Remove the migration Groovy transformation"
It was introduced in 3.4.x to help migration from Groovy written with previous versions.

Vert.x 3.5.0 assumes people have migrated their API.

[2017-10-10 21:38] #53 closed

[2017-10-17 06:38] vietj commented on #50
this should be fixed in 3.5.0

[2017-10-19 14:33] vietj commented on #51
fixed in 3.5.0

[2017-10-19 14:33] #51 closed

[2017-10-19 14:33] vietj commented on #51
please reopen if you see it with 3.5.0

[2017-10-21 08:48] vietj opened #54 "Vertx extension module overrides original MetaClass extension modules"

[2017-10-21 08:51] #54 closed

[2018-02-04 18:42] gnunn1 opened #55 "Unable to resolve class"
I'm trying to upgrade an application from vertx 3.3.0 to vertx 3.5.0. The application uses a mixture of Java and Groovy code. When I try to run the upgraded version of the application it throws the following groovy compilation errors:

[code]
I have tried both the shade plugin and the vertx-maven-plugin with no difference between the two. One thing I have noticed is that the vertx-lang-groovy clas

[2018-02-04 22:59] gnunn1 commented on #55
Here is my pom.xml:

[code]

[2018-02-05 01:21] gnunn1 commented on #55
Please ignore, I didn't realize the groovy API changed in 3.5.0. I suspect this is related to that.

[2018-02-05 01:21] #55 closed

[2018-03-09 19:20] aaloise opened #56 "Upgrade Groovy version to 2.4.15"
Upgrade to Groovy 2.4.14

[2018-03-30 01:12] aaloise commented on #56
2.4.15 was released!

[2018-03-30 05:31] #56 closed

[2018-06-07 01:46] aaloise opened #57 "Groovy 2.5"
Apache Groovy 2.5 was recently released.

Consider to upgrade at the appropriate time.

Groovy 2.5 requires JDK8+ to build and JDK7 is the minimum version of the JRE that it supports.

[2018-06-07 05:11] vietj commented on #57
I think one issue is that the groovy-all jar does not exist anymore

[2018-06-07 05:12] vietj commented on #57
so we need to find the right dep to use

[2018-06-07 12:32] aaloise commented on #57
Found the following post on Twitter:

@daniel_sun
Since #groovylang 2.5.0, pls grab groovy-all dependency as follows:
#gradle:
compile 'org.codehaus.groovy:groovy-all:x.y.z'

#maven:
<groupId>org.codehaus.groovy</groupId>
<artifactId>groovy-all</artifactId>
<version>x.y.z</version>
<type>pom</type>

https://twitter.com/daniel_sun/status/1003474637697642496

[2018-06-07 12:36] vietj commented on #57
can you make a PR for this project ?

[2018-06-07 16:35] aaloise commented on #57
Done https://github.com/vert-x3/vertx-lang-groovy/issues/58

[2018-06-07 16:45] aaloise commented on #57
And also #59 , in #58 I forgot to edit pom.xml of codegen

[2018-06-08 06:41] vietj commented on #57
can you close them and make a single PR @aaloise ?

[2018-06-08 16:39] aaloise commented on #57
Closed #58 and #59, also created #60 with both files changed

[2018-06-08 19:35] aaloise commented on #57
Well, since #60 didn't work, I look around a little and found this at Grovvy install directions using Maven in the official site:

[code]

http://groovy-lang.org/install.html#_maven_repository

Seems pretty much the same like it was with 2.4

[2018-06-08 19:41] aaloise commented on #57
@vietj sorry to ask, but witch version of JDK was used to compile after #60 got merged?

[2018-06-08 20:02] vietj commented on #57
java version "1.8.0_172"

[2018-06-08 20:40] aaloise commented on #57
Is it ok if I make a PR with the instructions in Groovy site? Looks the same way that used to work with 2.4, but who knows? Might work.

[2018-06-14 14:49] aaloise commented on #57
The compilation errors are because at compile time packages from Groovy aren't being found. Errors such as "package org.codehaus.groovy.ast does not exist" and "ScriptVerticle.java:[38,17] cannot find symbol  symbol:   class Script  location: class io.vertx.lang.groovy.ScriptVerticle" are happening.

It's like Groovy dependency does not get downloaded or it is not present in compile phase. I don't

[2018-08-26 19:31] classgraph-robot opened #62 "FastClasspathScanner is outdated -- consider porting to ClassGraph"
Your project, `vert-x3/vertx-lang-groovy`, depends on the outdated library FastClasspathScanner in the following source files:

* [`src/main/java/io/vertx/lang/groovy/VertxExtensionMethodBoostrap.java`](https://github.com/vert-x3/vertx-lang-groovy/tree/master/src/main/java/io/vertx/lang/groovy/VertxExtensionMethodBoostrap.java)
* [`pom.xml`](https://github.com/vert-x3/vertx-lang-groovy/tree/master

[2018-12-12 07:52] #57 closed

[2018-12-12 11:08] vietj opened #68 "Remove usage of groovy-all"
Remove the usage of groovy-all jar in favor of groovy/groovy-console dependencies. Since 2.5, the groovy-all dependency is actually a dependency of type pom, depending on individual jars (https://twitter.com/daniel_sun/status/1003474637697642496). It also conflicts with the stack manager convergence checker.

[2018-12-12 11:11] #68 closed

[2019-03-05 08:48] vietj opened #71 "Code generation pruning"
In Vert.x 3.x, the Groovy generation has become more lightweight based on extension methods. Therefore Vert.x for Groovy currently uses Vert.x APIs directly. In Vert.x 4 we remove any code generation in favour of using instead Groovy operators to achieve the same.

[2019-03-05 08:54] vietj opened #72 "Groovy operators for Vert.x"
To make Vert.x usage more idiomatic in Vert.x 4, we introduce a few Groovy operators for JSON and data object classes.

- `JsonObject` subscript operators (`obj["key"]=3` / obj["key"])
- `JsonArray` subscript operator (`array[3]`)
- `JsonArray` leftshift operator (`array << "foo"`)
- map cast operator to data object (`map as MyDataObject`)
- map cast operator to json object (`map as JsonObject`)

[2019-03-05 08:55] vietj opened #73 "Remove Groovy verticle class"
In Vert.x 3.x, the `GroovyVerticle` class for base verticles has been deprecated in favour of `io.vertx.core.AbstractVerticle`. `GroovyVerticle` is removed in 4.0.

[2019-03-06 08:04] #71 closed

[2019-03-06 08:04] #72 closed

[2019-03-06 08:04] #73 closed

[2019-03-31 10:03] injecteer opened #75 "Groovy: eventBus.send() with DeliveryOptions fails in 3.6.3"
my Groovy code:

[code]
fails with

If I ommit the setting sendTimeout it fails with the same exception.

The following line works just fine:
`
vertx.eventBus().send( 'gateway', [ aa:42 ] ){ doSomeStuff() }`

If I convert the map into JsonObject, it also works:
`
vertx.eventBus().send( 'addr', new JsonObject( aa:42 ), HOP_OPTS ){}`

See https://stackoverflow.com/questions/55415485/vertx-3-6-3-even

[2019-03-31 11:49] vietj commented on #75
can you try with current vertx 4.0.0-SNAPSHOT to have an idea

[2019-04-01 08:35] injecteer commented on #75
what's the easiest way to install the snapshot with gradle? a specifig repository?

[2019-04-02 09:17] vietj commented on #75
this ?

[code]

[2019-04-02 10:42] injecteer commented on #75
the code for 4.0.0-SNAPSHOT compiles but upon start the following exception pops up:

	at io.vertx.lang.groovy.VertxExtensionModule.asType(VertxExtensionModule.java:17)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java

[2019-04-09 08:36] injecteer commented on #75
the issue is still reproducible in 3.7.0

[2019-04-09 09:34] vietj commented on #75
can you provide a reproducer project ?

[2019-04-11 11:44] injecteer commented on #75
https://github.com/injecteer/sendRepro

[2019-04-23 12:47] tsegismont commented on #75
Change `HOP_OPTS` initialization to:

[code]

And then it will work as expected. This is because the extension module defines a method that takes a `LinkHashMap` for options, not a `DeliveryOptions` instance:

[code]

Consequently at runtime the extension method is not used and the message parameter not converted to `JsonObject`.

To me this is working as expected but then perhaps we could duplica

[2019-04-28 16:55] aaloise commented on #62
With the merge of #81 this can be closed.

[2019-04-29 08:05] #62 closed

[2019-05-06 08:10] injecteer commented on #75
I tried it, and with `@TypeChecked` it brings up the exception:

 @ line 137, column 9.
           vertx.eventBus().send( id, body + REPLY, HOP_OPTS ){ AsyncResult rs ->
           ^

[2019-12-18 11:30] #50 closed

[2019-12-18 11:31] pmlopes commented on #50
Closing due to inactivity.

[2020-04-02 14:35] BillyYccc opened #93 "Reactive SQL Client is not integrated"
#### Motivation

Missing integration for vertx-sql-client in `4.x` version, it's only supported in `3.x` branches.

[2020-05-27 21:42] #93 closed

[2020-07-24 15:26] vietj opened #108 "Documentation rework"
In Vert.x 4 the Groovy documentation will not contain anymore code generated documentation.

Instead we might provide a few specific examples for specific Vert.x documentations when it is needed and the Vert.x core documentation is now left stand alone. The Groovy documentation covers Groovy specifics such as deploying a Verticle or the Groovy extension for Vert.x types such as JSON or data object

[2020-07-28 16:44] #108 closed

[2020-07-28 16:49] vietj opened #110 "Update versions"
- org.codehaus.groovy 3.0.5
- gmavenplus-plugin 1.9.1

[2020-07-28 16:49] #110 closed

[2020-10-14 09:25] ptomaszek opened #113 "Consecutive calls to promise.future() return different instances when debugging"
### Version

3.9.3

### Context
[code]

Instances are not equal when running code in the Debug mode under Intellij IDEA.

### Steps to reproduce

1. Code: https://github.com/ptomaszek/vertx-groovy
1. Run `MainGroovy` -> observe expected output `true`
1. Run in Debug mode `MainGroovy` -> observe unexpected output `false`

### Extra

 - IntelliJ IDEA 2020.2.3
 - Code works as expected with `4.0.0-mi

[2020-10-14 09:56] ptomaszek commented on #113
I also checked with Eclipse 2020-09:
 - 3.9.3 - `false` in both Run and Debug
 - 4.0.0-milestone5 - `true` in both Run and Debug

[2020-10-14 13:37] tsegismont commented on #113
I'm not sure why you get a different behavior in run/debug mode with `3.9.3`, it should be the same.

However I can explain the difference between `3.9.3` and `4.0.0.milestone5`: in Vert.x 4, the `Promise` implementation has its own class, while in Vert.x 3 it's shared with `Future`. Consequently, when Groovy resolves the `future()` method call dynamically, it invokes the `Future.future()` static

[2020-10-14 19:38] aaloise commented on #113
The answer is probably [here](https://mrhaki.blogspot.com/2009/09/groovy-goodness-check-for-object.html?m=1#:~:text=In%20Groovy%20we%20use%20the,The%20!%3D)

"Groovy overloads the == operator and maps it to the equals() method. This is very different from Java, so when developers are switching back and forth between Groovy and Java mistakes are bound to happen. In Java we use the == operator to se

[2020-10-15 08:39] tsegismont commented on #113
@aaloise it's not a problem with the operator, it's actually a bug.

The `Future` returned by calling `promise.future()` in Groovy with Vert.x 3.9 is actually not bound to the `Promise`

Consider this program:

[code]

If you run it with Vert.x 3 you'll see nothing, but with Vert.x 4 you'll see `Done` in the console, as expected.

[2020-10-15 09:22] ptomaszek commented on #113
Thank you guys for quick responses.
And especially @tsegismont for nicely describing the actual issue.

So I guess it's not safe to use `Promise`s and best to stick to deprecated but working `def f = Future.future()` for time being.

Fingers crossed for a bugfix :crossed_fingers:

[2020-10-15 09:50] tsegismont commented on #113
@ptomaszek Vert.x internals work with promises in Java, and only in Vert.x 4

[2020-10-22 10:15] ptomaszek commented on #113
@aaloise, @tsegismont
Did you get a chance to look into what's causing the issue?

[2020-10-22 15:48] aaloise commented on #113
Well, I noticed that ScriptVerticle in 3.9 is still using Future. In 4.0 it uses Promise

https://github.com/vert-x3/vertx-lang-groovy/blob/3.9/vertx-lang-groovy-gen/src/main/java/io/vertx/lang/groovy/ScriptVerticle.java (3.9)

https://github.com/vert-x3/vertx-lang-groovy/blob/master/src/main/java/io/vertx/lang/groovy/ScriptVerticle.java (4.0)

Maybe it's related? WDYT @tsegismont @vietj

[2020-10-24 00:15] aaloise commented on #113
I submitted a PR to fix ScriptVerticle (#114). Still don't know if it is related, but either way I believe it is necessary.

In addition, I did new tests. In a main method I have the following line codes

[code]

So it should always print:
[code]

But it show only false. The I decide to run it 10 times, and to my surprise it printed false 5 times and true with Done the other 5 times.

I noticed th

[2020-10-27 16:45] aaloise commented on #113
It seems that the bug appeared in version 3.8.0 with the arise of Promise. When it was just Future, for obvious reasons, the problem did not occur.

I noticed that Promise's Future has the @CacheReturn annotation, which states: "Declares that the value returned by a method will always be the same. Code generators can use this to cache the proxy of the returned object and avoid to recreate a differ

[2020-10-28 08:16] vietj commented on #113
@aaloise generators can use it, however we don't use proxy anymore for groovy.

do you have a reproducer ?

[2020-10-29 16:16] aaloise commented on #113
@vietj I've been using an adapted @ptomaszek reproducer to do some tests, with suggestions made by @tsegismont. Basically:

[code]

This should print ```true``` and ```Done!!!```, but is always printing only ```false```. I think I've found an workaround, which is annotating the class MainGroovy with ```@TypeChecked``` or ```@CompileStatic```

@ptomaszek could you give a try with one of this annota

[2020-10-29 18:29] ptomaszek commented on #113
@aaloise, Thanks for diving into the issue.

Annotations you've mentioned work for simple classes like `MainGroovy`. However the project I'm working on has dozens of complex files that leverage Groovy's magic. Annotating these breaks compilation and eventual refactoring would be tremendously costly in time.

To sum up - unfortunately the workaround is not for me, and I think it's not a good suite

[2020-10-29 19:12] aaloise commented on #113
@ptomaszek I see. I too noticed that must be something with Promise.

One curious thing is that your reproducer always prints false with OpenJDK Hotspot. I tried sometimes with OpenJ9 and ocasionallly it printed true. Let's keep investigating.

[2020-11-03 13:18] aaloise commented on #113
@ptomaszek If you try to run your reproducer with 3.9.5-SNAPSHOT, with embedded vertx in the code, seems to work as expected.

[code]

When I run this code using 3.9.5-SNAPSHOT, it prints ```true``` and ```Done!!!```. This seems to be related with your last post, but as I mentioned, this peace of code only prints the expected wiht 3.9.5-SNAPSHOT.

The "digging" continues...

[2020-11-04 11:55] ptomaszek commented on #113
I wasn't sure whether you're referring to  3.9.5-SNAPSHOT in `vertx-lang-groovy` or `vertx-core` so I downloaded sources for both, compiled and installed locally, and then configured gradle's `dependencies`:
[code]

Still no luck, i.e. random results.

---

I just noticed that with different JVMs issue repeatability is different, e.g. for one JVM consecutive Run/Debug operations produce random res

[2020-11-04 19:52] aaloise commented on #113
Did some tests also with that pice of code. Always with 3.9.5-SNAPSHOT. I'm getting all kind of results, either running or building a jar. Tried with four JVM's: 1.8.0.272 Hotspot; 1.8.0.272 OpenJ9; 11.0.9 Hotspot; 11.0.9 OpenJ9. All from AdoptJDK.

With JDK 8 Hotspot I only get a true as result using @CompileStatic. With JDK 11 Hostspot I see true with embedded Vertx or with @CompileStatic. With

[2020-11-09 15:24] aaloise commented on #113
@ptomaszek I tried to run the code with Groovy Console and works as expected:

![image](https://user-images.githubusercontent.com/1064972/98560097-c8cbfc00-227d-11eb-84cd-746ceb352f5f.png)

There must be somethig else messing around with the results

[2020-11-10 20:16] aaloise commented on #113
I tried the following and seems to work. Created a file named groovyOptionsConfig.groovy with the following content.

[code]

And call it in build.gradle:

[code]

That way only Promise compiles with @CompileStatic

[2020-11-12 10:35] ptomaszek commented on #113
@aaloise, Can you please share a complete example? AST to `Promise` doesn't work for me.

PS Closing bracket at `Promise")` fails compilation

[2020-11-12 19:29] aaloise commented on #113
@ptomaszek my last post turned out not to be a good solution. I faced odd behaviours using this approach in different machines, even with the same JVM.

So when @tsegismont posted earlier, stating that the problem is when promise.future() gets called, I thought of creating a Helper class that compiles statically this method. Something like:

[code]

And then, your reproducer could be adapted to:

[2020-11-13 09:27] ptomaszek commented on #113
@aaloise, thanks for the clever workaround but it requires a lot of refactoring and I'm not sure it's bullet-proof. When non-custom code - e.g. `Veticle.start(Promise<Void> startPromise)` - accepts `Promise`, then it'll still invoke `promise.future()` directly rather than with a helper.

[2020-11-16 11:49] ptomaszek commented on #113
@aaloise, I don't have a reproducer. My remark was about a general idea of using any external library that consume `Promise` in its API, so that any client apps cannot do a thing to change a way `Promise` is handled there.

Thanks for raising the issue in Groovy. I hope it's it, but on the other hand I was checking stacktraces for `Promise.future()` and they seemed be the same in cases when code w

[2020-11-16 11:54] ptomaszek commented on #113
@aaloise, I don't have a reproducer. My remark was about a general idea of using any external library that consume `Promise` in its API, so that any client app cannot do a thing to change a way `Promise` is handled there.

Thanks for raising the issue in Groovy :+1:

[2020-11-16 14:42] ptomaszek commented on #113
I narrowed different Groovy behaviors and I'm sharing it because someone may be faster in finding the exact root cause

1. Groovy 3.0.6, Java 11
1. Calling `Promise.future()` runs through the same stacktrace for valid and invalid results:
[code]
1. At some point `MetaClassImpl.getMethodWithCachingInternal()` gets called, exactly here:
[code]
1. Debug it and call `((CachedMethod) ((FastArray) e.met

[2020-12-02 10:56] ptomaszek commented on #113
Groovy `3.0.7` will fix the issue: https://issues.apache.org/jira/browse/GROOVY-9815
Should be available in Maven soon.

Thanks @aaloise :+1:

![image](https://user-images.githubusercontent.com/5464274/100863368-c469bc00-3494-11eb-9dfc-feea4ff9b8f2.png)

[2020-12-02 15:00] aaloise commented on #113
Exactly @ptomaszek! It was really an issue with Groovy. Let's wait for the release of 3.0.7 and then test it. If everything works fine, then I can make a simple PR to upgrade Groovy version in both Vert.x 3.9 and 4.0

[2020-12-04 12:38] tsegismont commented on #113
Fixed in #115

[2020-12-04 12:38] #113 closed

[2020-12-07 18:21] aaloise opened #117 "Exception in thread "main" java.lang.IllegalStateException: Result is already complete"
The following code works well until 4.0.0.Beta1 which uses Groovy 3.0.3. Starting with 4.0.0.Beta2, which uses Groovy 3.0.5, it started to fail:

[code]
[code]

The bug doesn't happen whit Vertx 3.9. I tried with 3.9.5-SNAPSHOT, which is already using Groovy 3.0.7, and it is OK.

This is probably an issue with Groovy. I raised one that can be seen here https://issues.apache.org/jira/browse/GROOVY-

[2020-12-10 11:09] tsegismont commented on #75
With Vert.x 3.9 and Vert.x 4, the way to go is:

[code]

[2020-12-10 11:09] #75 closed

[2020-12-16 13:03] aaloise commented on #117
The issue was fixed in Groovy, but only for Groovy 4.x which is still in alpha phase. When Groovy 4.0 hits GA then it can be used in Vert.x 4 also, but I think it would be more apropriate to upgrade in Vert.x 4.1.

Meanwhile, a workaround to Groovy 3.x, and Vert.x 4,  is to use the following code :

[code]

[2020-12-16 13:03] #117 closed

[2020-12-16 13:09] tsegismont commented on #117
Thanks for letting us know @aaloise

[2021-05-14 11:06] injecteer opened #121 "Access members in JsonObject via dot notation throws Exception"
The last line in code down below throws NoSuchMethodException
[code]
In Vert.x 3.x it used to work.

I should be possible to use the dot-notation for JsonObjects in Groovy.

See also [SO-questrion](https://stackoverflow.com/questions/67511614) for details

[2021-05-17 08:21] tsegismont commented on #121
@aaloise any idea about this one?

[2021-05-24 16:12] injecteer commented on #121
also I'm missing the good stuff in Groovy of 3.9.x which is not happenning in 4.0.3.
 For example, a `Message<Map>` doesn't work anymore

[2021-05-25 07:20] vietj commented on #121
what do you mean by `Message<Map>` ? can you show some code ?

[2021-05-25 13:30] injecteer commented on #121
The code down below
[code]
produces the exception:
[code]

whereas in 3.9.7 works like charm:

[2021-05-25 21:11] aaloise commented on #121
Hi. I read the explanation of Jeff Brown at SO and, at least for now, makes sense. The dot notation is only valid if there is a method or field. From some not so obvious reason, it works with Vert.x 3

As for Message<Map>, from my understanding, basically you can say JsonObject is a "map", but not the other way around.

Somehow, in Vert.x 3 Groovy understands under the hood that ```[ answer:42 ]``

[2021-05-26 11:54] injecteer commented on #121
Here's the reproducer

[repro.zip](https://github.com/vert-x3/vertx-lang-groovy/files/6546441/repro.zip)

for version switch simply play with lines in `gradle.properties`:
[code]

[2021-05-31 07:15] vietj commented on #121
I think that indeed the as JsonObject like you used in your test is the correct thing to do.

it might seem less magic in Vert.x 4 but this is how Groovy support evolved in Vert.x and it transforming the Map to a JsonObject looks fine to me (`[ answer:42 ] as JsonObject`)

[2021-05-31 07:16] vietj commented on #121
I will close this issue as the original issue is not actually an issue.

[2021-05-31 07:16] #121 closed

[2021-05-31 07:17] vietj commented on #121
consider opening an issue for the usability issue of the event-bus and if we can have a solution better than `as JsonObject` we could improve this

[2021-05-31 08:15] injecteer commented on #121
`[ answer:42 ] as JsonObject` is fine, but you can not use a `Map` as a generic type in a handle()-method signature (see the exception above). And this is a lot worse than an explicit map to JO conversion

[2021-06-08 13:49] #6 closed

[2021-06-08 13:54] #21 closed

[2021-06-08 13:54] #24 closed

[2021-11-29 15:16] codeheadcm commented on #113
Hello all! I'm actually running into this issue with ...

- Groovy 3.0.8
- Vertx 4.2.1
- JDK 11
- JUnit 5.8.1

 and wanted follow-up on this particular case whether there was a fix or if I'm doing something incorrect...

I'm attaching a Gist containing my test cases and (build.gradle for reference) to display the main issue in my case, which is the inability to use the neat "future().onSuccess { .

[2021-11-29 15:21] codeheadcm commented on #113
Ah, well, now that I went through it again, I can see that the decision is apparently to wait for Groovy 4.0 which should deliver the proper fix as mentioned in https://github.com/vert-x3/vertx-lang-groovy/issues/117

[2021-12-20 12:51] pmlopes opened #125 "CVE-2021-45105"
Fixed by: https://github.com/vert-x3/vertx-lang-groovy/commit/aab346fa1270ca4e1817fb143c648be34f5001cc

[2021-12-20 12:51] #125 closed

[2021-12-20 12:51] pmlopes opened #126 "CVE-2021-45105"
Fixed by: https://github.com/vert-x3/vertx-lang-groovy/commit/b14b75e84751eb14e326d0cbba223e598f6b1506

[2021-12-20 12:51] #126 closed